.detail_menu_container {
    padding: 0 360px;
}

.detail_container .content {
    border-top: 1px solid #dddddd;
    padding: 0 360px 100px;
}

.detail_container .content .title {
    font-size: 2rem;
    font-weight: 600;
    color: #222222;
}

.images_container {
    display: flex;
    flex-direction: row;
    height: 500px;
    border-radius: 14px;
    overflow: hidden;
}

.images_container .main_image {
    width: 50%;
    height: 500px;
    object-fit: cover;
    margin-right: 8px;
    cursor: pointer;
}

.images_container .secondary_images {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.images_container .secondary_images img {
    width: calc(50% - 4px);
    height: 246px;
    object-fit: cover;
    cursor: pointer;
}

.information_container {
    display: flex;
    flex-direction: row;
    margin: 24px 0 0;
}

.information_container .information,
.information_container .reservation_container {
    width: 50%;
}

.information_container .information .host_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin: 16px 0;
}

.information_container .information .host_container span {
    font-size: 48px;
    color: #222222;
}

.information_container .information .host_container .host_information h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #222222;
    margin: 0;
}

.information_container .information .host_container .host_information p {
    font-size: 0.9rem;
    color: #717171;
    margin: 4px 0 0;
}

.information_container .information .address_container h3 {
    margin: 0;
}

.information_container .information .address_container .google_map_container {
    width: 100%;
    height: 350px;
}

.information_container .reservation {
    width: 70%;
    padding: 24px;
    margin: 0 auto;
    border-radius: 14px;
    box-shadow:
        8px 8px 16px #cccccc,
        -8px -8px 16px #fafafa;
}

.information_container .reservation .price_container h3 {
    margin: 0;
}

.information_container .reservation .price_container span {
    font-weight: 400;
}

.options_reservation_container {
    border-radius: 12px;
    width: 100%;
    margin-top: 16px;
}

.options_reservation_container .option {
    position: relative;
    width: 100%;
}

.options_reservation_container .option input {
    padding: 28px 0 12px 12px;
    width: 100%;
    border: 1px solid #cccccc;
    box-shadow: none;
}

.options_reservation_container .option:first-child input {
    border-radius: 12px 12px 0 0;
}

.options_reservation_container .option:first-child input:hover {
    background-color: #f5f5f5;
}

.options_reservation_container .option:last-child input {
    border-radius: 0 0 12px 12px;
}

.options_reservation_container .option #dates_reservation {
    width: 100%;
    border-radius: 12px;
}

.options_reservation_container .option:last-child input:hover {
    background-color: #f5f5f5;
}

.options_reservation_container .option label {
    position: absolute;
    top: 10px;
    left: 12px;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    pointer-events: none;
}

.options_reservation_container .option .guests_dialog {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 12px;
    padding: 12px 16px;
    background-color: #ffffff;
    box-shadow: 8px 8px 16px #cccccc;
    z-index: 1;
}

.options_reservation_container .option .guests_dialog .guests_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.options_reservation_container .option .guests_dialog .guests_container .info h4,
.options_reservation_container .option .guests_dialog .guests_container .info p {
    margin: 0;
    padding: 0;
}

.options_reservation_container .option .guests_dialog .guests_container .info p {
    font-size: 0.9rem;
    color: #595959;
}

.options_reservation_container .option .guests_dialog .guests_container .guest_input_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options_reservation_container .option .guests_dialog .guests_container .guest_input_container p {
    width: 42px;
    text-align: center;
}

.options_reservation_container .option .guests_dialog .guests_container .guest_input_container button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #cccccc;
    color: #595959;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: none;
}

.options_reservation_container .option .guests_dialog .guests_container .guest_input_container button:hover {
    background-color: #cfcfcf;
}

.options_reservation_container .option .guests_dialog .btn_container {
    width: 100%;
    margin: 16px 0 12px;
    display: flex;
    justify-content: end;
}

.options_reservation_container .option .guests_dialog .btn_container .btn_close {
    color: #222222;
    padding: 8px;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.options_reservation_container .option .guests_dialog .btn_container .btn_close:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.reservation .btn_reservation {
    width: 100%;
    height: 48px;
    padding: 12px 0;
    border-radius: 12px;
    background: linear-gradient(90deg, #FF385C 0%, #F12560 100%);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
    margin: 16px 0;
}

.reservation .btn_reservation:active {
    transform: scale(0.97);
}

.reservation .total_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reservation .total_container p {
    font-size: 1rem;
    color: #595959;
    margin: 0;
}

.reservation .total_container p.info {
    font-size: 0.9rem;
    margin: 0 0 8px;
}

.reservation .total_container .total_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.reservation .total_container .total_divider {
    margin: 12px;
}

.reservation .total_container .total_content.total {
    color: #222222;
    font-weight: 700;
}